.navBar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.profile {
    display: flex;
    flex-direction: row-reverse;
}
.profile > li {
    margin: 25px;
}

.hidden {
    visibility: hidden;
}
